.header nav {
    margin-top: 20px;
}

.header nav a{
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header nav a:hover {
color: goldenrod;
}

.img{
    width: 23px;
    height: 23px;
    margin-right: 9px;
    padding-top: 20px;
} 